.DS_Store
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user
.quarto/
*.Rproj
*.tar.gz
..Rcheck/
*.Rcheck/
src/*.o
src/*.so
src/*.dll
src/*.dylib
check
ppd.html
ppd_files/

/.quarto/
**/*.quarto_ipynb
